[workspace]
members = ["rcgen", "rustls-cert-gen"]
resolver = "2"

[workspace.dependencies]
aws-lc-rs = "1.6.0"
pem = "3.0.2"
pki-types = { package = "rustls-pki-types", version = "1.3.0" }
rand = "0.8"
ring = "0.17"
x509-parser = "0.16"

[workspace.package]
license = "MIT OR Apache-2.0"
edition = "2021"
readme = "README.md"
description = "Rust X.509 certificate generator"
repository = "https://github.com/rustls/rcgen"
keywords = ["mkcert", "ca", "certificate"]

# This greatly speeds up rsa key generation times
# (only applies to the dev-dependency of rcgen because cargo
# ignores profile overrides for non leaf packages)
[profile.dev.package.num-bigint-dig]
opt-level = 3
