[package]
name = "rcgen"
version = "0.11.0"
authors = ["est31 <MTest31@outlook.com>"]
description = "Rust X.509 certificate generator"
repository = "https://github.com/est31/rcgen"
documentation = "https://docs.rs/rcgen"
license = "MIT OR Apache-2.0"
edition = "2021"
readme = "README.md"
keywords = ["mkcert", "ca", "certificate"]

[lib]
name = "rcgen"
path = "src/lib.rs"

[[bin]]
name = "rcgen"
path = "src/main.rs"
required-features = ["pem"]

[dependencies]
yasna = { version = "0.5.2", features = ["time", "std"] }
ring = "0.16"
pem = { version = "2.0.1", optional = true }
time = { version = "0.3.6", default-features = false }
x509-parser = { version = "0.15", features = ["verify"], optional = true }
zeroize = { version = "1.2", optional = true }

[features]
default = ["pem"]

[package.metadata.docs.rs]
features = ["x509-parser"]

[dev-dependencies]
openssl = "0.10"
x509-parser = { version = "0.15", features = ["verify"] }
webpki = { version = "0.22", features = ["std"] }
rand = "0.8"
rsa = "0.9"

[target.'cfg(not(windows))'.dev-dependencies]
botan = { version = "0.10", features = ["vendored"] }


# This greatly speeds up rsa key generation times
# (only applies to the dev-dependency because cargo
# ignores profile overrides for non leaf packages)
[profile.dev.package.num-bigint-dig]
opt-level = 3
